@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);


* {
  box-sizing: border-box;
}




body {
   margin: 0 auto;
   font-family: 'Open Sans', sans-serif;
  
  
 
}
.row:before,
.row:after {
   content: " "; /* 1 */
   display: table; /* 2 */
}
.row:after {
	clear: both;
   
}

header {
	background-color: #313234;
	background-color: rgba(0.0.0 0.5)
}
.container {
   max-width: 1200px;
   margin: 0 auto;
   position:relative;
  
 
}
header > nav img {
   padding: 10px 0;
   max-height: 50px;
  
}
header > nav ul {
   float: right;
   margin: 0;
   padding: 0;
   list-style-type: none;
}
header > nav ul > li {
   display:inline-block;
}

header > nav ul > li > a {
   line-height: 50px;
   display: block;
   color: #fff;
   padding: 0 20px;
   text-decoration: none;
   text-transform: uppercase;
}
header > nav ul > li > a:hover {
   background: #ccc;
}
.hero  {	
   width:100%;
   height: 60vh;
   background:url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/C1FZVWCNI6.jpg" );
   overflow: hidden;	
   background-position: center;
   background-size: cover;
   position:relative;
	
}
.slogan {
	max-width:500px
	margin:auto;
	background: rgba(0, 0, 0, 0.7);
	box-shadow: 2px 2px 10px #000;
	border-radius: 4px;
	color: white;
	position:absolute;
	right:0;
	top:150px;
	padding:30px;
	}

.slogan  h1 {
	color:white;	
	font-size:28px;
	font-weight:500;
	border-width:0 0 5px 5px;
    padding-left:20px;
    padding-right:50px;
    text-align:left;	
}
/*--------------------girt-----------------------------------*/
.row:before,
.row:after {
	content: "";
	display: table;
	clear: both;
	
}

[class*="col-"] {
	float:left;
	min-height: 1px; 
}
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
    .col-20 {width:40%;}
	.col-40 {width:20%;}
	.col-80 {width:80%;}

	.col-offset-1 {margin-left: 8.33%;}
	.col-offset-2 {margin-left: 16.66%;}
	.col-offset-3 {margin-left: 25%;}
	.col-offset-4 {margin-left: 33.33%;}
	.col-offset-5 {margin-left: 41.66%;}
	.col-offset-6 {margin-left: 50%;}
	.col-offset-7 {margin-left: 58.33%;}
	.col-offset-8 {margin-left: 66.66%;}
	.col-offset-9 {margin-left: 75%;}
	.col-offset-10 {margin-left: 83.33%;}
	.col-offset-11 {margin-left: 91.66%;}
	.col-offset-12 {margin-left: 100%;}
		
/*-----gallery----------------------------------------------*/

.zd1 {
	height:280px;
}

.layer {
	position: absolute;
    text-align:center;  
}

.layer:hover {
	background: rgba(0, 0, 0, 0.5);	 
	cursor:pointer;
}

.layer .fa {
	color:black;
	border:solid #e2e1e1;
	background-color:#e2e1e1;
	border-radius:10px;
	padding:2px;
	position:relative;
	top:120px;
	display:none;
}

.layer:hover .fa {
	display:inline;	
	
}

.lay1 {
	width: 40%;
    height:50%;	
}

.lay2 {	
    width: 20%;
    height:50%;
}

.gallery img {
	object-fit: cover;	
}

/*-----gallery----------------------------------------------*/

.true {
	width:100px;	
}

.fonts .fa {
	font-size:100px;	

}
.fonts {
	text-align:center;
	padding:20px;
}

.fa-laptop {
	color:black;
}

 .sense2:hover i.fa ,.sense2:hover h1 {
	color:#20cbe5;	
	cursor:pointer;
}

.fa-laptop + h1 {
	color:black;
}

.fa-search  +h1 {
	color:black;
}

.fa-search {
	color:black;
}

.fa-cogs  +h1 {
	color:black;
}

.fa-cogs {
	color:black;
}

p {
	text-align: center;	
}
h1 {
	text-align: center;		
}

.fonts2 h1 {
	font-family: 'Baloo', cursive;
	text-transform: uppercase;
	font-size:2em;

}
.fonts, p {
	color:#999999;	
	font-weight: normal;
	font-size:22px;	
}
.fonts2 p {
	color:#999999;	
	font-weight: normal;
	font-size:22px;
}

section>.container {
	margin: 50px auto;	
}

.photo2 {
    background:gray;
	color:white;
	
}
.photo2  div {

}

/*-PERSONEL--*/
.photo {
	padding:20px;	
	margin-top:10px;
	margin-bottom:10px;
	
}
.cal1 div {
	border: solid 1px color:#dcdde5;
	margin:10px;
	border-radius:75%;
	height:250px;
	width:250px;
	background-color:#dcdde5;
}

.pom {
	text-align:center;
}

.pom h1 {
	display:none;
	position:relative;
	color:white;
	top:100px;
}
.pom:hover h1 {
	display:inline;	
	cursor:pointer;
	
}
.pom:hover {
	background:rgba(0, 0, 0, 0.5);
}
/*---PERSONEL---*/

.photo2 p {
	color:white;
	font-size:15px;
	text-align:left;
	
}

.photo2 h1 {
	text-align:left;	
}

.job h1 {
	position: relative;
	 top:140px;
	 display:none;
    
}
.job h1:hover {
	display:inline;
}


.imagine {	

	height:300px;	
}

.mar {
 padding-left:10px;	
}

.numbers p {
	color:#20cbe5;
	text-transform:uppercase;
	font-size:25px;
	font-weight: bold;
}
.numbers h1 {
	font-family: 'Baloo', cursive;
	font-size:60px;
}

/*-row about--*/
.about {
	background-color:#313332;	
	color:white;
	margin-bottom:0px;
	position:relative;	
}
.exam1 p {
	text-align:left;
	font-size:20px;
}

.exam1 h1 {
	text-align:left;	
}

.exam2 h1 {
	text-align:left;
}
.exam2 {
	text-align:center;
	padding-left:25px;
}

h3 {
	margin:0;	
}

.about h1 {
	text-transform:uppercase;	
}
.about h3 {
	text-transform: capitalize;	
}
.exam3 h1 {
	text-align:left;	
}

.exam3 p{
	text-align:left;	
}

.exam3 .social .fa {
	font-size: 15px;
	display:inline-block;
	float:left;
	padding:10px;
	border:groove;
	border:#28ede3;
	background-color:#28ede3;
	margin-left:7px;
}
.exam3 .social .fa:hover {
	background:#1e8db2;
}

.ex h1:after {
	content: ' ';
    display: inline-block;
    border: 2px solid #eee;
    width: 95px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.exam2 p {	
	font-size:16px;
    text-align:left;  
}
.roll2 > p {
	margin:0px;
}

.roll {
	line-height:50px;
}
.roll2 {
	padding: 0 10px;
    margin-top: 5px;
}

.roll2 p {
	padding:5px 0;	
	margin-left:5px;	
}
.min {
	text-align:left;	
}

footer {
	background-color:black;
	color:white;
	text-align:center;
	margin-top:0;
	height:50px;
	line-height:50px;	
}

@media (max-width: 767px){
    /* For tablets: */
    
    [class*="col-"] {
	   width: 100%;
	   padding: 12px; 
	   float:left;
	}
	
	.container {
		width: 100%;
		max-width: 1200px;
		margin: auto;
	}
	
	.row:before, 
	.row:after {
		content:"";
		display: table ;
		clear: both;
	 }
    
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    .col-s-20 {width:40%;}
	.col-s-40 {width:20%;}
	.col-s-80 {width:80%;}
	.col-s-100 {width:10%;}
	
	.vv {
		display: flex;
	    justify-content: center;
	    align-items: center;	
	}
		
	.bb {
		height:0;
			
	}
	
	.social {
		  display: flex;
    	justify-content: center;	
	}
	
	.bb .fa {
		display:inline-block;	
		top:0;		
	}
		
	.container {
		text-align:center	
	}
		
	.container ul {
		float:none;
		display:block;
	}
		
	.container li {
		display:block;	
		text-align:center;
	}
		
	.size {
		width:50%;	
	}
	
	.ex h1 {
		text-align:center;	
	}
	.ex p {
		text-align:center;	
	}
	.roll {
		text-align:right;	
	}
	.roll2 p {
		text-align:left;	
	}
	

}
		

@media (min-width: 768px){
	

		
	.container {
		width:100%;
		max-width: 1200px;
		margin: auto;
	}

	.row:before, 
	.row:after {
		content:"";
		display: table ;
		clear: both;
 }

    /* For desktop: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    .col-m-20 {width:40%;}
	.col-m-40 {width:20%;}
	.col-m-80 {width:80%;}
}


